<div class="page-header">
    <h1>Reset Password</h1>
</div>

<div style="margin-left: 50px; margin-right: 50px">
    <form name=resetForm ng-submit="reset.regUser(regData, resetForm.$valid)" ng-hide="reset.hide" novalidate>

        <!-- Password -->
        <div ng-class="{ 'has-success': (resetForm.password.$valid && !resetForm.password.$pristine), 'has-error': (!resetForm.password.$valid && !resetForm.password.$pristine) || (!resetForm.password.$valid && resetForm.$submitted)}">
            <label>Password</label>
            <input ng-disabled="reset.disabled" class="form-control" type="password" name="password" placeholder="Please enter the Password" ng-model="password" ng-minlength="8" ng-maxlength="25" required>
            <p class="help-block" ng-show="(!resetForm.password.$pristine && resetForm.password.$error.required) || (resetForm.$submitted && resetForm.password.$error.required)">This field is required</p>
            <ul class="help-block" ng-show="(!resetForm.password.$pristine && resetForm.password.$error.minlength) || (!resetForm.password.$pristine && resetForm.password.$error.maxlength)">
                <li>Must contain at least 8 characters but no more than 25</li>
            </ul>
            <br>
        </div>
        
        <!-- Confirm Password -->
        <div ng-class="{ 'has-success': (confirmed && !resetForm.confirmPassword.$error.required), 'has-error': (!confirmed && !resetForm.confirmPassword.$error.required) || (resetForm.confirmPassword.$error.required && !resetForm.confirmPassword.$pristine) || (resetForm.$submitted && resetForm.confirmPassword.$error.required)}">
            <label>Confirm Password</label>
            <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Please enter the Password" match={{[password]}} ng-change="reset.regData.password = confirm" ng-model="confirm"  required>
            <p class="help-block" ng-show="(!resetForm.confirmPassword.$pristine && resetForm.confirmPassword.$error.required) || (resetForm.$submitted && resetForm.confirmPassword.$error.required)">This field is required</p>
            <p class="help-block" ng-show="!confirmed && !resetForm.confirmPassword.$pristine && resetForm.password.$valid">Password does not match</p>
            <br>
        </div>

        <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">Reset</button>
    </form>
    <br>

    <div class="row show-hide-message" ng-show="reset.successMsg">
        <div class="alert alert-success">{{ reset.successMsg }}</div>
    </div>

    <br>

    <div class="row show-hide-message" ng-show="reset.errorMsg">
        <div class="alert alert-danger">{{ reset.errorMsg }}</div>
    </div>
</div>