<div class="page-header">
    <h1>User Login</h1>
</div>

<div style="margin-left: 50px; margin-right: 50px">
<form ng-submit="main.doLogin()">
    <!-- Username -->
    <label>Username</label>
    <input ng-disabled="main.disabled" class="form-control" type="text" name="username" placeholder="Please enter the Username" ng-model="main.loginData.username">
    <br>

    <!-- Password -->
    <label>Password</label>
    <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="Please enter the Password" ng-model="main.loginData.password">
    <br>
    
    <button ng-disabled="main.disabled" class="btn btn-primary" type="submit">Login</button>&nbsp;
    
    <div class="reset">
        <a href="/resetpassword"><button ng-disabled="main.disabled" class="btn btn-danger" type="button">Forgot Password</button></a>
        <a href="/resendusername"><button ng-disabled="main.disabled" class="btn btn-primary" type="button">Forgot Username</button></a>
    </div>
    
   <!-- <button class="btn btn-warning" type="button" ng-click="main.twitter()">Twitter</button>-->
        
</form>

<br>

<div class="row show-hide-message" ng-show="main.successMsg"> 
    <div class="alert alert-success">{{ main.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{ main.errorMsg }} &nbsp; <a href="/resend" ng-show="main.expired"><button type="button" class="btn btn-success">Resend Activation Link</button></a></div>
</div> 
</div>